/*reset*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*General background color*/
body {
    background-color: #b6bbf3;
}
section {
    
}
    /*defines header layout*/
.header {
    padding: 50px;
    height: 200px;
    background-image: url("../images/bluePlaid.png");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #5a7c2a;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 72px;
    color: #d9dcd6;
}

 
/*defines navigation size and placement*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/*defines paragraph font size*/

/*Main photo*/
.hero {
    height: 100vw;
    width: 100vw;
    margin-bottom: 25px;
    background-image: url(https://cdn.mos.cms.futurecdn.net/BX7vjSt8KMtcBHyisvcSPK-1920-80.jpg.webp);
    background-size: cover;
    background-position: center;

}
@media screen and (min-width: 686px) {
    body {

}
#herotag {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color:brown;
    font-size: 72px;
    letter-spacing: 0.02em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#d9dcd6;
    z-index: 10;
    top:900px;
    right:0;
    position: absolute;
    width: 1000px;
}
.heroWTag {
    display: flex;
    flexwrap: flex;
}
/*assigned to images in articles on left side*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/*New code*/
.projectimg {
    height: auto;
    width: 10%;
    background-color: #bbbea6;
    border-image-width: 5rem;
    border-color: black;
    
}
#About {
    
    border-left: 20px solid black;
    height: auto;
    width: 100%;
    margin-left: 200px;
       
}
.AboutSect {
    display:flex;
    flex-wrap: flex;

    color: rgb(68, 40, 2);
    margin-left: 50px;
    margin-right: 0px;
    padding-bottom: 150px;
    justify-content: space-between;
    
}
.AboutSect h1 {
    padding-right: 20px;
    font-size: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.AboutSect p {
    padding-left: 50px;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 120px;
    text-align: left-justify;

    
}

#Work {

    border-left: 20px solid black;
    height: auto;
    width: 100%;
    margin-left: 200px;
}
.WorkSect {
    display:flex;
    flex-wrap: flex;
    color: rgb(68, 40, 2);
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 150px;

    
}
.WorkSect h1 {
    padding-right: 20px;
    font-size: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#Contact {
    border-left: 20px solid black;
    height: auto;
    width: 100%;
    margin-left: 200px;
}
.ContactSect {
    display:flex;
    flex-wrap: flex;
    color: rgb(68, 40, 2);
    margin-left: 50px;
    margin-right: 50px;
}
.ContactSect h1 {
    padding-right: 20px;
    font-size: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ContactSect nav ul li a {
    display: inline-block;
    margin-left: 25px;
    font-size: 48px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    color: rgb(68, 40, 2);
    
}

