/*reset*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*General background color*/
body {
    background-color: #b6bbf3;
}
.wrapper-main {
    width: 1000;
    padding: 0px;
    margin: 0 auto;
}
/*defines header layout*/
.header { 
    padding: 2rem;
    height: auto;
    width: 100%;
    background-image: url("assets/images/pexels-mahadee-hasan-15849321.jpg");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #5a7c2a;
    color: #ffffff;
    background-size: cover;
}

.header h1 {
    display: inline-block;
    align-content: center;
    font-size: 4rem;
    color: #d9dcd6;
}

 
/*defines navigation size and placement*/
.header nav {
    align-content: center;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;

}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 1em;;
    background-color: black;
    border-width: .08em;
    border-color: white;
    border-style: solid;
    padding: 1rem;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/*hover for nav*/

.header nav {
    display: inline-block;
}

.header nav ul li:hover,
.header nav ul li:focus,
.header nav ul li:active {
    background-color: rgb(148, 143, 240);

}

/*Main photo*/
.hero {
    height: 50rem;
    width: 100%;
    background-image: url(https://cdn.mos.cms.futurecdn.net/BX7vjSt8KMtcBHyisvcSPK-1920-80.jpg.webp);
    background-size: cover;

}

#herotag {
    background-color:brown;
    font-size: 3rem;
    letter-spacing: 0.03em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#d9dcd6;
    width: 40%rem;
    padding: 1em;
    float: right;
    position: relative;
    bottom: 10em;
}

/*About Me*/
.Type {
    display:flex;
    flex-wrap: none;
    padding: 2em;
    color: rgb(68, 40, 2);
    min-width: 650px;
}

.Type h1 {
    font-size: 3.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Type p {
    padding-left: 1.8em;
    padding-bottom: .5em;
    font-size: .9em;
    line-height: 1.2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
#About {
    border-left: .8em solid rgb(68, 40, 2);
    height: auto;
    width: 100%;
    margin-left: 6em;

}
/*Work Label*/

.labels {
    position: relative;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    left: 5em;
    bottom: 4.5em;
  }

  /*Work*/
#Work {
    border-left: .8em solid rgb(68, 40, 2);
    height: auto;
    width: 100%;
    margin-left: 6.6em;
}
   
/*Images with Work - resized*/
.resize img {
    height: 15em;
    width: 15em;
    object-fit: fill;
    margin-right: 1.9em;
    margin-left: 1.9em;
    margin-bottom: 1.9em;
    border-radius: 15%;
    
}

.projectimg1 {
    background-color: #68c76f;
    padding: .8em;
}

#projectimg2 {
    background-color: #89b6f0;
    padding: .8em; 
}

#projectimg3 {
    background-color: #835be1;
    padding: .8em; 
}
#projectimg4 {
    background-color: #f25107;
    padding: .8em; 
   
}

#projectimg5 {
    background-color: #e1c25b;
    padding: .8em; 
}

#Contact {
    border-left: .8em solid rgb(68, 40, 2);
    height: auto;
    width: 100%;
    margin-left: 3em; 
}

#Contact nav ul li {
    list-style: none;
}

#Contact nav ul li a {
    margin-left: 1em;
    font-size: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    color: rgb(68, 40, 2);
}

/*hover for work*/

.resize a {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.resize a:hover,
.resize a:focus,
.resize a:active {
    transform: scale(1.2);
}

/*media querie*/

@media only screen and (max-width: 375px) {
    
    .wrapper-main {
        padding-top: .55rem;
        width: 95%;
    }
    .header {
        padding:5px;
        padding-bottom: 80px;
    }
    .header h1 {
        padding: 4px;
        margin-left: 4px;
        font-size: 2rem;
        color: #d9dcd6;
    } 
    .header nav {
        align-content: left;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1em;
    }
    .header nav ul li {
        display: block;
        background-color: black;
        border-width: .08em;
        border-color: white;
        border-style: solid;
        padding: .5rem;
    }
    
    .hero {
        height: 20rem;
        width: 100%;
        background-image: url(https://cdn.mos.cms.futurecdn.net/BX7vjSt8KMtcBHyisvcSPK-1920-80.jpg.webp);
        background-size: cover;
    
    }
    
    #herotag {
        background-color:brown;
        font-size: 1.5rem;
        letter-spacing: 0.03em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color:#d9dcd6;
        width: 40%rem;
        padding: .5em;
        bottom: 8em;
    }
    .Type {
        flex-direction: column;
    

    }
    
    .Type h1 {
        font-size: 2.5em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .Type p {
        max-width: 250px;
         
    }
    #About {
        border-left: .4em solid rgb(68, 40, 2);
        margin-left: 0em;
    }
    #Work {
        border-left: .4em solid rgb(68, 40, 2);
        margin-left: 0em;
    }
    #Contact {
        border-left: .8em solid rgb(68, 40, 2);
        margin-left: 0em;
        font-size: 8px;
    }
}

.projectimg1 {
    background-color: #68c76f;
    padding: .4em;
}

#projectimg2 {
    background-color: #89b6f0;
    padding: .4em; 
}

#projectimg3 {
    background-color: #835be1;
    padding: .4em; 
}
#projectimg4 {
    background-color: #f25107;
    padding: .4em; 
   
}

#projectimg5 {
    background-color: #e1c25b;
    padding: .4em; 
}
