/*reset*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*General background color*/
body {
    background-color: #b6bbf3;
    min-width: 486px;
}
/*defines header layout*/
.header {
    padding: 50px;
    height: 200px;
    background-image: url("../images/bluePlaid.png");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #5a7c2a;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 5vmin;
    color: #d9dcd6;
}

 
/*defines navigation size and placement*/
.header nav {
    
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vmin;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 50px;
    background-color: black;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    padding: 3px;
    padding-right: 8px;
    padding-left: 8px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/*hover for nav*/

.header nav {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.header nav ul li:hover,
.header nav ul li:focus,
.header nav ul li:active {
    background-color: rgb(148, 143, 240);

}

/*Main photo*/
.hero {
    height: 100vw;
    width: 100vw;
    margin-bottom: 25px;
    background-image: url(https://cdn.mos.cms.futurecdn.net/BX7vjSt8KMtcBHyisvcSPK-1920-80.jpg.webp);
    background-size: cover;
    background-position: center;

}

#herotag {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color:brown;
    transform: skew(-15deg);
    font-size: 5vmin;
    letter-spacing: 0.03em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#d9dcd6;
    z-index: 10;
    top: 39rem;
    right:0;
    position: absolute;
    right: -20px;
    width: 80vmin;
}



/*About Me*/
#About {
    border-left: 15px solid black;
    height: auto;
    width: 100%;
    margin-left: 106px;
    max-width: 1200px;

  
}
.AboutSect {
    display:flex;
    flex-wrap: flex;
    color: rgb(68, 40, 2);
    margin-left: 30px;
    padding-bottom: 100px;  
}
.AboutSect h1 {

    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.AboutSect p {
    padding-left: 50px;
    font-size: 2.5vmin;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 100px;
    text-align: left-justify;
    margin-bottom: 2rem;   
}
/*Work Label*/

.labels {
    position: relative;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    left: 200px;
    bottom: 100px;
  }

  /*Work*/
  #Work {
    border-left: 15px solid black;
    height: auto;
    width: 100%;
    margin-left: 115px;
}
   
.WorkSect {
    display:flex;
    flex-wrap: flex;
    color: rgb(68, 40, 2);
    margin-left: 30px;
    padding-bottom: 100px;  
}


.WorkSect h1 {
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*Images with Work - resized*/
.resize img {
    height: 400px;
    width: 400px;
    object-fit: fill;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 20%;
}
.projectimg1 {
    background-color: #68c76f;
    padding: 10px; 
}

#projectimg2 {
    background-color: #89b6f0;
}

#projectimg3 {
    background-color: #835be1;
}
#projectimg4 {
    background-color: #f25107;
   
}

#projectimg5 {
    background-color: #e1c25b;
}

#Contact {
    border-left: 15px solid black;
    height: auto;
    width: 100%;
    margin-left: 53px;
    
}

.ContactSect {
    display:flex;
    flex-wrap: flex;
    margin-left: 30px;
    padding-bottom: 150px;
}
.ContactSect h1 {
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(68, 40, 2);
}
#Contact nav ul li a {
    margin-left: 40px;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    color: rgb(68, 40, 2);
}


/*hover for work*/

.resize a {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.resize a:hover,
.resize a:focus,
.resize a:active {
    transform: scale(1.2);
}
/*hover for contact me*/


